<section class="section">
<section  class="section-covers container" id="covers">

      <h2 class="visually-hidden">Covers</h2>

       <div class="covers-wrapper">

          <ul class="covers-list">
             
            <li class="cover-item"> 
              <picture>
  
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  ./img/covers/covers_1.jpg 1x,
                  ./img/covers/covers_1@2x.jpg 2x"
                  />
  
                <source
                  media="(min-width: 768px)"
                  srcset="
                  ./img/covers/covers_1.jpg 1x,
                  ./img/covers/covers_1@2x.jpg 2x"
                 />
  
                <source
                  media="(max-width: 767px)"
                  srcset="
                  ./img/covers/covers_1.jpg 1x,
                  ./img/covers/covers_1@2x.jpg 2x"
                 />
                  <img 
                  src="./img/covers/covers_1.jpg" 
                  alt="StarlightStudio"
                  class="covers-image"/>     
              </picture> 
            </li>
  
            <li class="cover-item">
              <picture>
  
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_2.jpg 1x, 
                    ./img/covers/covers_2@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_2.jpg 1x, 
                    ./img/covers/covers_2@2x.jpg 2x"
                   />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_2.jpg 1x, 
                    ./img/covers/covers_2@2x.jpg 2x"
                   />
  
                    <img 
                    src="./img/covers/covers_2.jpg" 
                    alt="Energy.flow"
                    class="covers-image"/>  
                    
              </picture> 
           </li>
  
           <li class="cover-item">
            <source
              media="(min-width: 1440px)"
              srcset="
              ./img/covers/covers_6.jpg 1x,
              ./img/covers/covers_6@2x.jpg 2x"
            />

           <source
              media="(min-width: 768px)"
              srcset="
              ./img/covers/covers_6.jpg 1x,
              ./img/covers/covers_6@2x.jpg 2x"
            />

           <source
              media="(max-width: 767px)"
              srcset="
              ./img/covers/covers_6.jpg 1x,
              ./img/covers/covers_6@2x.jpg 2x"
            />

            <img 
              src="./img/covers/covers_6.jpg" 
              alt="Vichuvanka"
              class="covers-image"/> 
                
          </picture> 
           </li>    
  
           <li class="cover-item">
              <picture>
  
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_4.jpg, 
                    ./img/covers/covers_4@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_4.jpg, 
                    ./img/covers/covers_4@2x.jpg 2x"
                   />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_4.jpg, 
                    ./img/covers/covers_4@2x.jpg 2x"
                   />
  
                    <img 
                    src="./img/covers/covers_4.jpg" 
                    alt="Chego"
                    class="covers-image"/>  
                    
              </picture>        
           </li>
  
           <li class="cover-item">
              <picture>
  
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_5.jpg 1x, 
                    ./img/covers/covers_5@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_5.jpg 1x, 
                    ./img/covers/covers_5@2x.jpg 2x"
                   />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_5.jpg 1x, 
                    ./img/covers/covers_5@2x.jpg 2x"
                   />
  
                    <img 
                    src="./img/covers/covers_5.jpg" 
                    alt="Mimino"
                    class="covers-image"/>  
                    
              </picture>  
           </li>
  
           <li class="cover-item"> 
            <picture>
  
              <source
                media="(min-width: 1440px)"
                srcset="
                ./img/covers/covers_3.jpg 1x, 
                ./img/covers/covers_3@2x.jpg 2x"
                />

              <source
                media="(min-width: 768px)"
                srcset="
                ./img/covers/covers_3.jpg 1x, 
                ./img/covers/covers_3@2x.jpg 2x"
               />

              <source
                media="(max-width: 767px)"
                srcset="
                ./img/covers/covers_3.jpg 1x, 
                ./img/covers/covers_3@2x.jpg 2x"
               />

                <img 
                src="./img/covers/covers_3.jpg" 
                alt="Fruitbox"
                class="covers-image"/>  
                
          </picture>
           </li>
  
           <li class="cover-item">
              <picture>
  
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_7.jpg 1x, 
                    ./img/covers/covers_7@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_7.jpg 1x, 
                    ./img/covers/covers_7@2x.jpg 2x"
                   />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_7.jpg 1x, 
                    ./img/covers/covers_7@2x.jpg 2x"
                   />
  
                    <img 
                    src="./img/covers/covers_7.jpg" 
                    alt="Green"
                    class="covers-image"/>  
                    
              </picture>  
           </li>
  
           <li class="cover-item">
              <picture>
  
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_8.jpg 1x, 
                    ./img/covers/covers_8@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_8.jpg 1x, 
                    ./img/covers/covers_8@2x.jpg 2x"
                   />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_8.jpg 1x, 
                    ./img/covers/covers_8@2x.jpg 2x"
                   />
  
                    <img 
                    src="./img/covers/covers_8.jpg " 
                    alt="Power"
                    class="covers-image"/>  
                    
              </picture> 
           </li>
  
           <li class="cover-item">
              <picture>
  
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_9.jpg 1x, 
                    ./img/covers/covers_9@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_9.jpg 1x, 
                    ./img/covers/covers_9@2x.jpg 2x"
                    />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_9.jpg 1x, 
                    ./img/covers/covers_9@2x.jpg 2x"
                    />
  
                    <img 
                    src="./img/covers/covers_9.jpg" 
                    alt="Wallet"
                    class="covers-image"/>  
                    
              </picture>  
           </li>
  
           <li class="cover-item">
              <picture>
  
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_10.jpg 1x, 
                    ./img/covers/covers_10@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_10.jpg 1x, 
                    ./img/covers/covers_10@2x.jpg 2x"
                    />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_10.jpg 1x, 
                    ./img/covers/covers_10@2x.jpg 2x"
                    />
  
                    <img 
                    src="./img/covers/covers_10.jpg" 
                    alt="English"
                    class="covers-image"/>  
                    
              </picture>  
           </li>
          </ul>
  
          <ul class="covers-list">
             
            <li class="cover-item">
              <picture>
    
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  ./img/covers/covers_9.jpg 1x, 
                  ./img/covers/covers_9@2x.jpg 2x"
                  />
  
                <source
                  media="(min-width: 768px)"
                  srcset="
                  ./img/covers/covers_9.jpg 1x, 
                  ./img/covers/covers_9@2x.jpg 2x"
                  />
  
                <source
                  media="(max-width: 767px)"
                  srcset="
                  ./img/covers/covers_9.jpg 1x, 
                  ./img/covers/covers_9@2x.jpg 2x"
                  />

                  <img 
                  src="./img/covers/covers_9.jpg" 
                  alt="Wallet"
                  class="covers-image"/>  
                  
            </picture>  
             </li>
    
             <li class="cover-item">
              <picture>
    
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  ./img/covers/covers_10.jpg 1x, 
                  ./img/covers/covers_10@2x.jpg 2x"
                  />
  
                <source
                  media="(min-width: 768px)"
                  srcset="
                  ./img/covers/covers_10.jpg 1x, 
                  ./img/covers/covers_10@2x.jpg 2x"
                  />
  
                <source
                  media="(max-width: 767px)"
                  srcset="
                  ./img/covers/covers_10.jpg 1x, 
                  ./img/covers/covers_10@2x.jpg 2x"
                  />

                  <img 
                  src="./img/covers/covers_10.jpg" 
                  alt="English"
                  class="covers-image"/>  
                  
            </picture>  
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_7.jpg 1x, 
                      ./img/covers/covers_7@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_7.jpg 1x, 
                      ./img/covers/covers_7@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_7.jpg 1x, 
                      ./img/covers/covers_7@2x.jpg 2x"
                     />
    
                    <img 
                      src="./img/covers/covers_7.jpg" 
                      alt="Green"
                      class="covers-image"/>
                      
                </picture> 
             </li>    
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_8.jpg 1x, 
                      ./img/covers/covers_8@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_8.jpg 1x, 
                      ./img/covers/covers_8@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_8.jpg 1x, 
                      ./img/covers/covers_8@2x.jpg 2x"
                     />
    
                    <img 
                      src="./img/covers/covers_8.jpg " 
                      alt="Power"
                      class="covers-image"/>  
                      
                </picture>  
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_3.jpg" 
                      alt="Fruitbox"
                      class="covers-image"/>  
                      
                </picture>            
             </li> 
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_5.jpg 1x, 
                      ./img/covers/covers_5@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_5.jpg 1x, 
                      ./img/covers/covers_5@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_5.jpg 1x, 
                      ./img/covers/covers_5@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_5.jpg" 
                      alt="Mimino"
                      class="covers-image"/>  
                      
                </picture>  
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_4.jpg, 
                      ./img/covers/covers_4@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_4.jpg, 
                      ./img/covers/covers_4@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_4.jpg, 
                      ./img/covers/covers_4@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_4.jpg" 
                      alt="Chego"
                      class="covers-image"/>  
                      
                </picture>        
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_3.jpg" 
                      alt="Fruitbox"
                      class="covers-image"/>  
                      
                </picture>            
             </li>  
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_2.jpg 1x, 
                      ./img/covers/covers_2@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_2.jpg 1x, 
                      ./img/covers/covers_2@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_2.jpg 1x, 
                      ./img/covers/covers_2@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_2.jpg" 
                      alt="Energy.flow"
                      class="covers-image"/>  
                      
                </picture> 
             </li>
    
             <li class="cover-item"> 
                <picture>
    
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_1.jpg 1x,
                    ./img/covers/covers_1@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_1.jpg 1x,
                    ./img/covers/covers_1@2x.jpg 2x"
                   />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_1.jpg 1x,
                    ./img/covers/covers_1@2x.jpg 2x"
                   />
                    <img 
                    src="./img/covers/covers_1.jpg" 
                    alt="StarlightStudio"
                    class="covers-image"/>     
                </picture> 
              </li>
          </ul>
  
          <ul class="covers-list">
            <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_5.jpg 1x, 
                      ./img/covers/covers_5@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_5.jpg 1x, 
                      ./img/covers/covers_5@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_5.jpg 1x, 
                      ./img/covers/covers_5@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_5.jpg" 
                      alt="Mimino"
                      class="covers-image"/>  
                      
                </picture>  
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_4.jpg, 
                      ./img/covers/covers_4@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_4.jpg, 
                      ./img/covers/covers_4@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_4.jpg, 
                      ./img/covers/covers_4@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_4.jpg" 
                      alt="Chego"
                      class="covers-image"/>  
                      
                </picture>        
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_3.jpg 1x, 
                      ./img/covers/covers_3@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_3.jpg" 
                      alt="Fruitbox"
                      class="covers-image"/>  
                      
                </picture>            
             </li>  
    
             <li class="cover-item">
              <picture>
    
                <source
                media="(min-width: 1440px)"
                srcset="
                ./img/covers/covers_6.jpg 1x,
                ./img/covers/covers_6@2x.jpg 2x"
                />

                <source
                media="(min-width: 768px)"
                srcset="
                ./img/covers/covers_6.jpg 1x,
                ./img/covers/covers_6@2x.jpg 2x"
                />

                <source
                media="(max-width: 767px)"
                srcset="
                ./img/covers/covers_6.jpg 1x,
                ./img/covers/covers_6@2x.jpg 2x"
                />

                <img 
                src="./img/covers/covers_6.jpg" 
                alt="Vichuvanka"
                class="covers-image"/> 
                    
              </picture> 
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_9.jpg 1x, 
                      ./img/covers/covers_9@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_9.jpg 1x, 
                      ./img/covers/covers_9@2x.jpg 2x"
                      />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_9.jpg 1x, 
                      ./img/covers/covers_9@2x.jpg 2x"
                      />
    
                      <img 
                      src="./img/covers/covers_9.jpg" 
                      alt="Wallet"
                      class="covers-image"/>  
                      
                </picture>  
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_8.jpg 1x, 
                      ./img/covers/covers_8@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_8.jpg 1x, 
                      ./img/covers/covers_8@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_8.jpg 1x, 
                      ./img/covers/covers_8@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_8.jpg " 
                      alt="Power"
                      class="covers-image"/>  
                      
                </picture> 
             </li>    
    
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_2.jpg 1x, 
                      ./img/covers/covers_2@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_2.jpg 1x, 
                      ./img/covers/covers_2@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_2.jpg 1x, 
                      ./img/covers/covers_2@2x.jpg 2x"
                     />
    
                      <img 
                      src="./img/covers/covers_2.jpg" 
                      alt="Energy.flow"
                      class="covers-image"/>  
                      
                </picture> 
             </li>
    
             <li class="cover-item"> 
                <picture>
    
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_1.jpg 1x,
                    ./img/covers/covers_1@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_1.jpg 1x,
                    ./img/covers/covers_1@2x.jpg 2x"
                   />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_1.jpg 1x,
                    ./img/covers/covers_1@2x.jpg 2x"
                   />
                    <img 
                    src="./img/covers/covers_1.jpg" 
                    alt="StarlightStudio"
                    class="covers-image"/>     
                </picture> 
              </li>
    
              <li class="cover-item"> 
                <picture>
    
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_10.jpg 1x, 
                    ./img/covers/covers_10@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_10.jpg 1x, 
                    ./img/covers/covers_10@2x.jpg 2x"
                    />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_10.jpg 1x, 
                    ./img/covers/covers_10@2x.jpg 2x"
                    />
  
                    <img 
                    src="./img/covers/covers_10.jpg" 
                    alt="English"
                    class="covers-image"/>  
                    
              </picture>  
             </li>
    
             <li class="cover-item">
                <picture>
    
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_10.jpg 1x, 
                      ./img/covers/covers_10@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_10.jpg 1x, 
                      ./img/covers/covers_10@2x.jpg 2x"
                      />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_10.jpg 1x, 
                      ./img/covers/covers_10@2x.jpg 2x"
                      />
    
                      <img 
                      src="./img/covers/covers_10.jpg" 
                      alt="English"
                      class="covers-image"/>  
                      
                </picture>  
             </li>
          </ul>

          <ul class="covers-list">
             
                <li class="cover-item"> 
                  <picture>
      
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./img/covers/covers_1.jpg 1x,
                      ./img/covers/covers_1@2x.jpg 2x"
                      />
      
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./img/covers/covers_1.jpg 1x,
                      ./img/covers/covers_1@2x.jpg 2x"
                     />
      
                    <source
                      media="(max-width: 767px)"
                      srcset="
                      ./img/covers/covers_1.jpg 1x,
                      ./img/covers/covers_1@2x.jpg 2x"
                     />
                      <img 
                      src="./img/covers/covers_1.jpg" 
                      alt="StarlightStudio"
                      class="covers-image"/>     
                  </picture> 
                </li>
      
                <li class="cover-item">
                  <picture>
      
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                        ./img/covers/covers_2.jpg 1x, 
                        ./img/covers/covers_2@2x.jpg 2x"
                        />
        
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./img/covers/covers_2.jpg 1x, 
                        ./img/covers/covers_2@2x.jpg 2x"
                       />
        
                      <source
                        media="(max-width: 767px)"
                        srcset="
                        ./img/covers/covers_2.jpg 1x, 
                        ./img/covers/covers_2@2x.jpg 2x"
                       />
      
                        <img 
                        src="./img/covers/covers_2.jpg" 
                        alt="Energy.flow"
                        class="covers-image"/>  
                        
                  </picture> 
               </li>
      
               <li class="cover-item">
                  <picture>
      
                    <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_9.jpg 1x, 
                    ./img/covers/covers_9@2x.jpg 2x"
                    />
    
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_9.jpg 1x, 
                    ./img/covers/covers_9@2x.jpg 2x"
                    />
    
                  <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_9.jpg 1x, 
                    ./img/covers/covers_9@2x.jpg 2x"
                    />
  
                    <img 
                    src="./img/covers/covers_9.jpg" 
                    alt="Wallet"
                    class="covers-image"/>  
                    
                        
                  </picture>            
               </li>    
      
               <li class="cover-item">
                  <picture>
      
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                        ./img/covers/covers_4.jpg, 
                        ./img/covers/covers_4@2x.jpg 2x"
                        />
        
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./img/covers/covers_4.jpg, 
                        ./img/covers/covers_4@2x.jpg 2x"
                       />
        
                      <source
                        media="(max-width: 767px)"
                        srcset="
                        ./img/covers/covers_4.jpg, 
                        ./img/covers/covers_4@2x.jpg 2x"
                       />
      
                        <img 
                        src="./img/covers/covers_4.jpg" 
                        alt="Chego"
                        class="covers-image"/>  
                        
                  </picture>        
               </li>
      
               <li class="cover-item">
                  <picture>
      
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                        ./img/covers/covers_5.jpg 1x, 
                        ./img/covers/covers_5@2x.jpg 2x"
                        />
        
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./img/covers/covers_5.jpg 1x, 
                        ./img/covers/covers_5@2x.jpg 2x"
                       />
        
                      <source
                        media="(max-width: 767px)"
                        srcset="
                        ./img/covers/covers_5.jpg 1x, 
                        ./img/covers/covers_5@2x.jpg 2x"
                       />
      
                        <img 
                        src="./img/covers/covers_5.jpg" 
                        alt="Mimino"
                        class="covers-image"/>  
                        
                  </picture>  
               </li>
      
               <li class="cover-item"> 
                  <picture>
      
                    <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./img/covers/covers_6.jpg 1x,
                    ./img/covers/covers_6@2x.jpg 2x"
                    />
    
                    <source
                    media="(min-width: 768px)"
                    srcset="
                    ./img/covers/covers_6.jpg 1x,
                    ./img/covers/covers_6@2x.jpg 2x"
                    />
    
                    <source
                    media="(max-width: 767px)"
                    srcset="
                    ./img/covers/covers_6.jpg 1x,
                    ./img/covers/covers_6@2x.jpg 2x"
                    />
    
                    <img 
                    src="./img/covers/covers_6.jpg" 
                    alt="Vichuvanka"
                    class="covers-image"/> 
                        
                  </picture> 
               </li>
      
               <li class="cover-item">
                  <picture>
      
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                        ./img/covers/covers_7.jpg 1x, 
                        ./img/covers/covers_7@2x.jpg 2x"
                        />
        
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./img/covers/covers_7.jpg 1x, 
                        ./img/covers/covers_7@2x.jpg 2x"
                       />
        
                      <source
                        media="(max-width: 767px)"
                        srcset="
                        ./img/covers/covers_7.jpg 1x, 
                        ./img/covers/covers_7@2x.jpg 2x"
                       />
      
                        <img 
                        src="./img/covers/covers_7.jpg" 
                        alt="Green"
                        class="covers-image"/>  
                        
                  </picture>  
               </li>
      
               <li class="cover-item">
                  <picture>
      
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                        ./img/covers/covers_8.jpg 1x, 
                        ./img/covers/covers_8@2x.jpg 2x"
                        />
        
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./img/covers/covers_8.jpg 1x, 
                        ./img/covers/covers_8@2x.jpg 2x"
                       />
        
                      <source
                        media="(max-width: 767px)"
                        srcset="
                        ./img/covers/covers_8.jpg 1x, 
                        ./img/covers/covers_8@2x.jpg 2x"
                       />
      
                        <img 
                        src="./img/covers/covers_8.jpg " 
                        alt="Power"
                        class="covers-image"/>  
                        
                  </picture> 
               </li>
      
               <li class="cover-item">
                  <picture>
      
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                        ./img/covers/covers_9.jpg 1x, 
                        ./img/covers/covers_9@2x.jpg 2x"
                        />
        
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./img/covers/covers_9.jpg 1x, 
                        ./img/covers/covers_9@2x.jpg 2x"
                        />
        
                      <source
                        media="(max-width: 767px)"
                        srcset="
                        ./img/covers/covers_9.jpg 1x, 
                        ./img/covers/covers_9@2x.jpg 2x"
                        />
      
                        <img 
                        src="./img/covers/covers_9.jpg" 
                        alt="Wallet"
                        class="covers-image"/>  
                        
                  </picture>  
               </li>
      
               <li class="cover-item">
                  <picture>
      
                      <source
                        media="(min-width: 1440px)"
                        srcset="
                        ./img/covers/covers_10.jpg 1x, 
                        ./img/covers/covers_10@2x.jpg 2x"
                        />
        
                      <source
                        media="(min-width: 768px)"
                        srcset="
                        ./img/covers/covers_10.jpg 1x, 
                        ./img/covers/covers_10@2x.jpg 2x"
                        />
        
                      <source
                        media="(max-width: 767px)"
                        srcset="
                        ./img/covers/covers_10.jpg 1x, 
                        ./img/covers/covers_10@2x.jpg 2x"
                        />
      
                        <img 
                        src="./img/covers/covers_10.jpg" 
                        alt="English"
                        class="covers-image"/>  
                        
                   </picture>  
               </li>
          </ul> 
    </div> 
</section>
 </section>