<section>
<div class="section-faq-container">
<h2 class="FAQ">FAQ</h2>
    <ul class="faq-container">
        <li class="faq-container-item border-yes-faq">
            <div class="faq-h3-and-button-container">
            <h3 class="faq-container-item-question">What programming languages ​​are most often used in your project?</h3>
            <button class="svg-open-faq border-yes-button-faq"><svg width="20" height="20" class="icon-arrow">    
                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                </svg>
            </button>
            </div>
            <div class="text-unswered-faq">
            <p class="faq-container-item-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a
            combination of frontend (client side) and backend (server side) languages.</p>
            </div>
        </li>
        <li class="faq-container-item">
            <div class="faq-h3-and-button-container">
            <h3 class="faq-container-item-question mar-left-faq">What are the deadlines for the project?</h3>
            <button class="svg-open-faq border-yes-button-faq"><svg width="20" height="20" class="icon-arrow">    
                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                </svg>
            </button>
            </div>
            <div class="text-unswered-faq">
            <p class="faq-container-item-text mar-left-faq">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project,
            its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually
            occurs during the planning phase of the project.</p>
            </div>
        </li>
        <li class="faq-container-item border-yes-faq">
            <div class="faq-h3-and-button-container">
            <h3 class="faq-container-item-question">What payment methods do you accept?</h3>
            <button class="svg-open-faq border-yes-button-faq"><svg width="20" height="20" class="icon-arrow">    
                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                </svg>
            </button>
            </div>
            <div class="text-unswered-faq">
            <p class="faq-container-item-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal,
            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </div>
        </li>
        <li class="faq-container-item">
            <div class="faq-h3-and-button-container">
            <h3 class="faq-container-item-question mar-left-faq">How can I contact you?</h3>
            <button class="svg-open-faq"><svg width="20" height="20" class="icon-arrow">    
                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                </svg>
            </button>
            </div>
            <div class="text-unswered-faq">
            <p class="faq-container-item-text mar-left-faq">In the field of web development, there are various technologies and programming languages. Typically, this includes a
            combination of frontend (client side) and backend (server side) languages.</p>
            </div>
        </li>
        <li class="faq-container-item border-yes-faq">
            <div class="faq-h3-and-button-container">
            <h3 class="faq-container-item-question">Do you provide advice or support?</h3>
            <button class="svg-open-faq"><svg width="20" height="20" class="icon-arrow">    
                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                </svg>
            </button>
            </div>
            <div class="text-unswered-faq">
            <p class="faq-container-item-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project,
            its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually
            occurs during the planning phase of the project.</p>
            </div>
        </li>
        <li class="faq-container-item">
            <div class="faq-h3-and-button-container">
            <h3 class="faq-container-item-question mar-left-faq">What does the process of developing a software product look like from idea to implementation?</h3>
            <button class="svg-open-faq"><svg width="20" height="20" class="icon-arrow">    
                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                </svg>
            </button>
            </div>
            <div class="text-unswered-faq">
            <p class="faq-container-item-text mar-left-faq">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal,
            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </div>
        </li>
    </ul>
    </div>
</section>