<section>
    <div class="section-faq-container">
        <h2 class="FAQ" id="faq">FAQ</h2>
        <div class="accordion-container">
            <ul class="accordion">
                <li class="accordion-item border-right">
                    <div class="accordion-header">
                        <h3 class="accordion-question">What programming languages ​​are most often used in your project?
                        </h3>
                        <button class="btn-svg-opn">
                            <svg width="20" height="20">
                                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="accordion-content">
                        <p class="accordion-answer">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) languages.</p>
                    </div>
                </li>
                <li class="accordion-item">
                    <div class="accordion-header">
                        <h3 class="accordion-question margin-left">What are the deadlines for the project?</h3>
                        <button class="btn-svg-opn">
                            <svg width="20" height="20">
                                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="accordion-content">
                        <p class="accordion-answer margin-left">The terms of project implementation depend to a large
                            extent on a
                            number of factors, such as the scope of the project,
                            its complexity, and the availability of resources. Determining exact deadlines is a
                            difficult
                            task, and it usually
                            occurs during the planning phase of the project.</p>
                    </div>
                </li>
                <li class="accordion-item border-right">
                    <div class="accordion-header">
                        <h3 class="accordion-question">What payment methods do you accept?</h3>
                        <button class="btn-svg-opn">
                            <svg width="20" height="20">
                                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="accordion-content">
                        <p class="accordion-answer">Payment through credit and debit cards such as Visa, MasterCard,
                            specialized electronic payment systems such as PayPal,
                            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                    </div>
                </li>
                <li class="accordion-item">
                    <div class="accordion-header">
                        <h3 class="accordion-question margin-left">How can I contact you?</h3>
                        <button class="btn-svg-opn">
                            <svg width="20" height="20">
                                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="accordion-content">
                        <p class="accordion-answer margin-left">In the field of web development, there are various
                            technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) languages.</p>
                    </div>
                </li>
                <li class="accordion-item border-right">
                    <div class="accordion-header">
                        <h3 class="accordion-question">Do you provide advice or support?</h3>
                        <button class="btn-svg-opn">
                            <svg width="20" height="20">
                                <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button>
                        </div>
                        <div class="accordion-content">
                            <p class="accordion-answer">The terms of project implementation depend to a large extent on a
                                number of factors, such as the scope of the project,
                                its complexity, and the availability of resources. Determining exact deadlines is a difficult
                                task, and it usually
                                occurs during the planning phase of the project.</p>
                        </div>
                        </li>
                        <li class="accordion-item">
                            <div class="accordion-header">
                                <h3 class="accordion-question margin-left fixed-widtg-faq">What does the process of developing a
                                    software product look like from idea to implementation?</h3>
                                <button class="btn-svg-opn">
                                    <svg width="20" height="20">
                                        <use href="../img/svg/icons.svg#icon-arrow-down"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-answer left-margin margin-left">Payment through credit and debit cards such as Visa,
                                    MasterCard, specialized electronic payment systems such as PayPal,
                                    as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                            </div>
                        </li>
                        </ul>
                        </div>
                        </div>
                        </section>