<header class="header">
    <div class="container header-container">
        <div class="header-logo">
            <a href="./index.html">
                <img class="header-img" srcset="./img/header/logo@2x.png 2x" src="./img/header/logo.png"
                alt="Lloyd Jeferson logo" width="80px" height="80px" href="/src/index.html" />
            </a>
            <svg class="header-logo-jeff" width="84px" height="19px">
                <use href="./img/svg/icons.svg#icon-jefferson"></use>
            </svg>
        </div>

        <div class="menu-flex">
            <p class="header-menu-click">Menu</p>

            <div class="menu-click">
                <nav class="menu-nav">
                    <ul class="menu-nav-list">
                        <li class="menu-nav-list-item">
                            <a href="#abouts-me" class="header-link-mobile">About me</a>
                        </li>
                        <li class="menu-nav-list-item">
                            <a href="#benefits" class="header-link-mobile ">Benefits</a>
                        </li>
                        <li class="menu-nav-list-item">
                            <a href="#projects" class="header-link-mobile ">Projects</a>
                        </li>
                        <li class="menu-nav-list-item">
                            <a href="#faq" class="header-link-mobile ">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <a class="header-button" href="#work-together">Order the project</a>

        <button class="header-btn-burger js-open-menu" type="button">
            <svg class="header-icon-burger" width="28px" height="28px">
                <use href="./img/svg/icons.svg#icon-burger"></use>
            </svg>
        </button>
    </div>

    <!--================MOBILE MENU======================-->
    <div class="menu-mobile js-menu-container">
        <div class="mobile-menu-container menu-container" id="mobile-menu">
            <div class="menu-background">
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
                <div class="menu-mobile-background menu-in-view"></div>
            </div>


            <button class="menu-close-btn js-close-menu" type="button">
                <svg class="menu-close-btn-icon" width="28px" height="28px">
                    <use href="./img/svg/icons.svg#icon-close"></use>
                </svg>
            </button>

            <div class="menu-link-btn">
                <nav class="mobile-nav">
                    <ul class="mobile-nav-list">
                        <li class="mobile-nav-list-item">
                            <a href="#abouts-me" class="header-link-mobile mobile-nav-link">About me</a>
                        </li>
                        <li class="mobile-nav-list-item">
                            <a href="#benefits" class="header-link-mobile mobile-nav-link">Benefits</a>
                        </li>
                        <li class="mobile-nav-list-item">
                            <a href="#projects" class="header-link-mobile mobile-nav-link">Projects</a>
                        </li>
                        <li class="mobile-nav-list-item">
                            <a href="#faq" class="header-link-mobile mobile-nav-link">FAQ</a>
                        </li>
                    </ul>
                </nav>

                <a class="mob-button mobile-nav-link" href="#work-together">Order the project</a>
            </div>
        </div>
    </div>
</header>