<section class="hero">

<div class="container">
  <div class="hero-wrap">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer<br />Lloyd Jefferson.
    </h1>
    <ul class="hero-list">
      <li class="hero-list-item">
        <a
          class="hero-social-link hero-instagram"
          href="https://www.instagram.com/goitclub/"
          target="blank_"
        >IG</a
        >
      </li>
      <li class="hero-list-item">
        <a
          class="hero-social-link hero-facebook"
          href="https://www.facebook.com/goITclub/"
          target="blank_"
        >FB</a
        >
      </li>
      <li class="hero-list-item">
        <a
          class="hero-social-link hero-youtube"
          href="https://www.youtube.com/c/GoIT"
          target="blank_"
        >YT</a
        >
      </li>
      <li class="hero-list-item">
        <a
          class="hero-social-link hero-github"
          href="https://github.com/costiantynsnaider35/keep-do-it-2-0"
          target="blank_"
        >GH</a
        >
      </li>
      <li class="hero-list-item">
        <a
          class="hero-social-link hero-email-link"
          href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</div>
</section>