<section class="projects-section section" id="projects">
  <div class="container projects-container">
    <h2 class="projects-title">PROJECTS</h2>
    <div class="swiper projects-swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="projects-white-bg">
            <div class="projects-tags">
              <span>#react</span>
              <span>#js</span>
              <span>#node.js</span>
              <span>#git</span>
            </div>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas,<br />
              Technologies, Innovations
            </h3>

            <a
              class="projects-link"
              target="_blank"
              href="https://github.com/Andrii-Sliusarenko/Portfolio-project-04"
              >See project</a
            >
          </div>
          <div class="projects-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/projects/proj_desk_1.jpg,
                  ./img/projects/proj_desk_1@2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/projects/proj_tab_1.jpg,
                  ./img/projects/proj_tab_1@2x.jpg
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/proj_desk_1.jpg,
                  ./img/projects/proj_desk_1@2x.jpg
                "
                media="(min-width: 767px)"
              />

              <img
                class="projects-image"
                src="./img/projects/proj_desk_1.jpg"
                alt="design example one"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-white-bg">
            <div class="projects-tags">
              <span>#react</span>
              <span>#js</span>
              <span>#node.js</span>
              <span>#gt</span>
            </div>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              target="_blank"
              href="https://github.com/Andrii-Sliusarenko/Portfolio-project-04"
              >See project</a
            >
          </div>
          <div class="projects-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/projects/proj_desk_2.jpg,
                  ./img/projects/proj_desk_2@2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/projects/proj_tab_2.jpg,
                  ./img/projects/proj_tab_2@2x.jpg
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/proj_desk_2.jpg,
                  ./img/projects/proj_desk_2@2x.jpg
                "
                media="(min-width: 767px)"
              />

              <img
                class="projects-image"
                src="./img/projects/proj_desk_2.jpg"
                alt="design example two"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-white-bg">
            <div class="projects-tags">
              <span>#react</span>
              <span>#js</span>
              <span>#node.js</span>
              <span>#gt</span>
            </div>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              target="_blank"
              href="https://github.com/Andrii-Sliusarenko/Portfolio-project-04"
              >See project</a
            >
          </div>
          <div class="projects-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/projects/proj_desk_3.jpg,
                  ./img/projects/proj_desk_3@2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/projects/proj_tab_3.jpg,
                  ./img/projects/proj_tab_3@2x.jpg
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/proj_desk_3.jpg,
                  ./img/projects/proj_desk_3@2x.jpg
                "
                media="(min-width: 767px)"
              />

              <img
                class="projects-image"
                src="./img/projects/proj_desk_3.jpg"
                alt="design example three"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-swiper-btns">
        <button class="projects-btn-prev">
          <svg class="projects-swiper-btn-prev" width="24" height="24">
            <use href="/img/svg/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button class="projects-btn-next">
          <svg class="projects-swiper-btn-next" width="24" height="24">
            <use href="/img/svg/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
