<section class="projects-section section">
  <div class="container">
    <h2 class="projects-title">PROJECTS</h2>
    <div class="projects-swiper-container">
      <div class="projects-swiper-wrapper">
        <ul class="projects-list">
          <li class="projects-list-item">
            <div class="projects-white-bg">
              <div class="projects-tags">
                <span class="projects-tag-span">#react</span>
                <span class="projects-tag-span">#js</span>
                <span class="projects-tag-span">#node.js</span>
                <span class="projects-tag-span">#git</span>
              </div>
              <h3 class="projects-subtitle">
                Programming Across Borders: Ideas,<br />
                Technologies, Innovations
              </h3>
              <button class="projects-btn" type="button">
                <a
                  class="projects-link"
                  href="https://github.com/Andrii-Sliusarenko/Portfolio-project-04"
                  >See project</a
                >
              </button>
            </div>
            <div class="projects-image-wrapper">
              <picture>
                <source
                  srcset="
                    ../img/projects/proj_desk_1.jpg,
                    ../img/projects/proj_desk_1@2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ../img/projects/proj_tab_1.jpg,
                    ../img/projects/proj_tab_1@2x.jpg
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ../img/projects/proj_desk_1.jpg,
                    ../img/projects/proj_desk_1@2x.jpg
                  "
                  media="(min-width: 767px)"
                />

                <img
                  class="projects-image"
                  src="../img/projects/proj_desk_1.jpg"
                  alt="Project 1"
                  width=""
                  height=""
                />
              </picture>
            </div>
          </li>
          <li class="projects-list-item">
            <div class="projects-white-bg">
              <div class="projects-tags">
                <p class="projects-tag-span">#react</p>
                <p class="projects-tag-span">#js</p>
                <p class="projects-tag-span">#node.js</p>
                <p class="projects-tag-span">#gt</p>
              </div>
              <h3 class="projects-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <button class="projects-btn" type="button">
                <a
                  class="projects-link"
                  href="https://github.com/Andrii-Sliusarenko/Portfolio-project-04"
                  >See project</a
                >
              </button>
            </div>
            <div class="projects-image-wrapper">
              <picture>
                <source
                  srcset="
                    ../img/projects/proj_desk_2.jpg,
                    ../img/projects/proj_desk_2@2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ../img/projects/proj_tab_2.jpg,
                    ../img/projects/proj_tab_2@2x.jpg
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ../img/projects/proj_desk_2.jpg,
                    ../img/projects/proj_desk_2@2x.jpg
                  "
                  media="(min-width: 767px)"
                />

                <img
                  class="projects-image"
                  src="../img/projects/proj_desk_2.jpg"
                  alt="Project 2"
                  width=""
                  height=""
                />
              </picture>
            </div>
          </li>
          <li class="projects-list-item">
            <div class="projects-white-bg">
              <div class="projects-tags">
                <span class="projects-tag-span">#react</span>
                <span class="projects-tag-span">#js</span>
                <span class="projects-tag-span">#node.js</span>
                <span class="projects-tag-span">#gt</span>
              </div>
              <h3 class="projects-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <button class="projects-btn" type="button">
                <a
                  class="projects-link"
                  href="https://github.com/Andrii-Sliusarenko/Portfolio-project-04"
                  >See project</a
                >
              </button>
            </div>
            <div class="projects-image-wrapper">
              <picture>
                <source
                  srcset="
                    ../img/projects/proj_desk_3.jpg,
                    ../img/projects/proj_desk_3@2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ../img/projects/proj_tab_3.jpg,
                    ../img/projects/proj_tab_3@2x.jpg
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ../img/projects/proj_desk_3.jpg,
                    ../img/projects/proj_desk_3@2x.jpg
                  "
                  media="(min-width: 767px)"
                />

                <img
                  class="projects-image"
                  src="../img/projects/proj_desk_3.jpg"
                  alt="Project 1"
                  width=""
                  height=""
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
      <a href="" class="icon-arrows"
        ><svg class="icon-arrow-left" width="24" height="24">
          <use href="../img/svg/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
        <svg class="icon-arrow-right" width="24" height="24">
          <use href="../img/svg/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
