<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">reviews</h2>
    <div class="swiper reviews-swiper">

      <ul class="swiper-wrapper reviews-swiper-list js-reviews-box-list"></ul>

      <div class="reviews-box-btn">

        <button
          class="reviews-btn-previous js-reviews-btn-previous"
          type="button"
          aria-label="Button previous"
        >
          <svg class="reviews-button-icon"  width="32" height="32" viewBox="0 0 24 24">
            <use href="../img/svg/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>

        <button
          class="reviews-btn-next js-reviews-btn-next"
          type="button"
          aria-label="Button next"
        >
          <svg class="reviews-button-icon"  width="32" height="32" viewBox="0 0 24 24">
            <use href="../img/svg/icons.svg#icon-arrow-narrow-right"></use>
          </svg>

        </button>
      </div>
    </div>
  </div>
</section>

 <!-- <li class="swiper-slide reviews-list-card">
          <img src="${review.avatar_url}" 
               loading="lazy" 
               alt="${review.author}" 
               class="reviews-card-img" 
               width="48" height="48">
          <div class="reviews-card-desc">
            <h3 class="reviews-card-subtitle">${review.author}</h3>
            <div class="reviews-card-text">${review.review}</div>
          </div>
        </li> -->
