<footer class="footer section">
  <div class="container">
    <div class="work-t-allingment">
      <img
        src="../img/worktogether/lloyd1x.jpg"
        alt="Lloyd Jeferson foto"
        width="44px"
        height="44px"
      />
      <h2 class="work-t-h-two">
        Let’s <span class="work-t-text-insert">work</span>
        <h2 class="work-t-h-two">together</h2>
      </h2>
    </div>
    <div class="work-t-form-allingment">
      <form class="work-t-form">
        <div class="work-t-input-email-container">
          <!-- <label></label> -->
          <input
            class="work-t-input-email"
            type="email"
            name="user_email"
            placeholder="clients@gmail.com"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            title="Only:^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            required
          />
        </div>
        <div class="work-t-input-textarea-container">
          <!-- <label></label> -->
          <textarea
            class="work-t-input-textarea"
            name=""
            id=""
            name="user-coments"
            placeholder="commets"
            required
          ></textarea>
        </div>
      </form>
      <button class="work-t-btn" type="submit">Send</button>
    </div>
    <address>
      <ul class="work-t-contacts">
        <li class="work-t-list-item">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li class="work-t-list-item">
          <a href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a>
        </li>
      </ul>
    </address>
  </div>
</footer>

<!-- ==========modal========== -->
<div class="container">
  <div class="work-t-modal-container">
    <button class="work-t-modal-close-btn" type="button">
      <svg width="12" height="12">
        <use href="../img/svg/icons.svg#icon-x-1"></use>
      </svg>
    </button>
    <h3 class="work-t-modal-h-three">
      Thank you for your interest in cooperation!
    </h3>
    <p class="work-t-modal-message">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
