.benefits-container {
  margin-left: auto;
  margin-right: auto;
}

.container-title {
  min-width: 284px;
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  transition: 0.8s ease-in-out;
}
.benefits:hover .benefits-title {
  color: #ed3b44;
}

.benefits-item {
  border-radius: 20px;
  padding: 24px;
  width: 344px;
  height: 270px;
  background: #242527;
  border: solid 1px rgba(250, 250, 250, 0.2);
  transition: all 0.45s ease-in-out;
}

.benefits-item:hover {
  border: solid 1px #ed3b44;
  box-shadow: 0 0 15px #ed3b44;
}

.benefits-item:hover .benefits-list-text {
  color: #fafafa;
}
.benefits-list {
  margin-top: 32px;
  max-height: 100%;
  padding-bottom: 30px;
}

.benefits-menu {
  width: 344px;
  height: 1128px;
  margin-left: auto;
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 10px;
}

.benefits-item:hover .benefits-item-icon {
  scale: 1.2;
}

.benefits-item-icon {
  margin-left: 0;
  margin-top: 0;
  transition: all 0.45s ease-in-out;
}

.benefits-list-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 64px;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 8px;
  transition: all 0.45s ease-in-out;
}

.benefits-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  min-width: 187px;
  height: 55px;
  background-color: transparent;
  margin-top: 32px;
  transition: all 0.5s ease-in-out;
}

.benefits-btn:hover {
  box-shadow: 0 0 15px #ed3b44;
  border: 1px solid #ed3b44;
  background-color: transparent;
}

.benefits-btn-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: all 0.5s ease-in-out;
}

.benefits-btn:hover .benefits-btn-text {
  color: #ed3b44;
}

@media screen and (min-width: 768px) {
  .benefits-menu {
    width: 704px;
    height: 556px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .benefits-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .benefits-container {
    min-width: 696px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .benefits-item {
    width: 332px;
  }

  .benefits-menu {
    width: 680px;
    height: 556px;
  }
  .benefits-list {
    margin-top: 0px;
  }
}
