.section-covers{
    padding: 0;
    height: 508px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/covers/covers-bckgr.png);
}

@media screen and (min-resolution: 192dpi) {
    .section-covers{
        background-image: url(/img/covers/covers-bckgr@2x.png);
    }
}

.section-covers.container{
    width: 100%;
    max-width: none;
}


.covers-background {
    padding: 0;
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: -70%;
    left: -70%;
}

.covers-wrapper{
    position: absolute;
    right: -800px;
    left: 0;
    overflow: hidden;
}

.covers-list{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    transform: rotate(17deg) ;
}

.cover-item{
    width: 282px;
    height: 163px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-shrink: 0;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

.covers-image {
    /* transition: scale .25s ease-in-out,box-shadow .25s ease-in-out; */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.covers-image:hover {
    box-shadow: 0 0 4px var(--hover-color),0 0 8px var(--hover-color),0 0 12px var(--hover-color),0 0 16px var(--hover-color),0 0 20px var(--hover-color);
    transform:scale(1.1);
}

.covers-list .cover-item:nth-child(odd) {
    transform: translate(-20%);
}

.covers-list .cover-item:nth-child(even) {
    transform: translate(-250%);   
}

.covers-wrapper.animated .covers-list :nth-child(odd)  {
    animation-name: rightToLeft;
}

.covers-wrapper.animated .covers-list :nth-child(even)  {
    animation-name: leftToRight;
} 

.covers-full-image {
    box-shadow: 0 0 4px var(--hover-color),0 0 8px var(--hover-color),0 0 12px var(--hover-color),0 0 16px var(--hover-color),0 0 20px var(--hover-color);
}

@keyframes rotation {
    0% {
        transform: rotate(0);
        transform:scale(1);
    }

    50% {
        transform: rotate(180deg);
        transform:scale(.5);
    }

    to {
        transform: rotate(360deg);
        transform:scale(1);
    }
}

@keyframes rightToLeft {
    0% {
        transform: translate(-20%)
    }

   to {
        transform: translate(-250%)
    }
}

@keyframes leftToRight {
    0% {
        transform: translate(-20%)
    }

    to {
        transform: translate(-250%)
    }
}



@media screen and (min-width: 768px) {
    .section-covers{
       height: 960px;
    }

    .covers-background {
       width: 1440px;
       height: 1440px;
       top: -25%;
       left: -50%;
   }

   .covers-list {
       gap: 50px;
       margin-bottom: 70px;
   }

    .cover-item{
       width: 544px;
       height: 314px;
   }
}
 
@media screen and (min-width: 1440px) {
   .section-covers{
       height: 1440px;
   }

   .covers-background {
       width: 1800px;
       height: 1800px;
       top: -25%;
       left: -25%;
   }
}
