.FAQ {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa66;
  margin-bottom: 32px;
  transition: color 0.8s ease-in-out;
}

.faq-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.faq-section:hover .FAQ {
  color: #ed3b44;
}

.accordion-question {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  max-width: 289px;
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  max-width: 343px;
  width: 100%;
  max-height: 0;
}

.accordion-answer {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  opacity: 1;
}

.btn-svg-opn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;

  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.section-faq-container {
  max-width: 375px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.accordion-item {
  border-top: rgba(250, 250, 250, 0.2) 1px solid;
  border-bottom: rgba(250, 250, 250, 0.2) 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 343px;
  width: 343px;
}

.accordion-header {
  display: flex;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
}

.accordion-item.is-active .accordion-content {
  max-height: 500px;
  opacity: 1;
}

.accordion-question {
  font-size: 20px;
  color: #fafafa;
  transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out,
    text-shadow 0.5s ease-in-out;
}

.accordion-item.is-active .accordion-question {
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0px 4px #fafafa;
}

.btn-svg-opn:hover {
  box-shadow: 0 0 10px #ed3b44;
  background-color: transparent;
  border-color: #ed3b44;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.svg-faq {
  fill: none;
  stroke: #fafafa;
  transition: stroke 0.5s ease-in-out;
}

.btn-svg-opn:hover .svg-faq {
  stroke: #ed3b44;
}

@media screen and (min-width: 768px) {
  .faq-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section-faq-container {
    max-width: 704px;
    width: 100%;
  }

  .accordion-question {
    max-width: 574px;
    width: 100%;
  }

  .accordion-item {
    padding-top: 32px;
    padding-bottom: 0;
    max-width: 704px;
    width: 100%;
  }

  .accordion-content {
    max-width: 656px;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .border-right {
    border-right: rgba(250, 250, 250, 0.2) 1px solid;
  }

  .section-faq-container {
    max-width: 1376px;
    width: 100%;
    padding: 0;
  }

  .accordion-item {
    max-width: 688px;
  }

  .mar-left-faq {
    margin-right: 32px;
  }

  .margin-left {
    margin-left: 32px;
  }

  .fixed-widtg-faq {
    max-width: 485px;
    width: 100%;
  }

  .left-margin {
    margin-left: 32px;
  }

  .accordion-content {
    max-width: 574px;
    width: 100%;
  }
}
