/* .footer {
  padding: 20px 0;
}
.footer-desc {
  text-align: center;
}
.footer-link {
  position: relative;
}
.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
} */

/* +++++++ my +++++++ */

.work-t-allingment {
  display: flex;
  flex-wrap: wrap;
}
.work-t-img {
  border-radius: 12px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.work-t-h-two {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}
.work-t-text-insert {
  color: #ed3b44;
}
.work-t-form {
  max-width: 100%;
  margin-top: 63px;
}
.work-t-input-email-container {
  max-width: 100%;
  margin-bottom: 16px;
  height: 44px;
}
.work-t-input-email {
  color: #fafafa;
  opacity: 60%;
  width: 100%;
  height: 44px;
  background-color: #1c1d20;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px rgba(250, 250, 250, 0.2);
  padding: 0;
  outline: none;
  /* overflow: hidden;
  white-space: nowrap; */
  text-overflow: ellipsis;
}
.work-t-input-email:hover {
  opacity: 100%;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5);
}
.work-t-input-email:focus {
  opacity: 100%;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5);
}

.work-t-input-textarea-container {
  max-width: 100%;
  height: 44px;
}
.work-t-input-textarea {
  color: #fafafa;
  opacity: 60%;
  width: 100%;
  height: 44px;
  background-color: #1c1d20;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px rgba(250, 250, 250, 0.2);
  padding-top: 15px;
  outline: none;
}
.work-t-input-textarea:hover {
  opacity: 100%;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5);
}
.work-t-input-textarea:focus {
  opacity: 100%;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5);
}
.work-t-btn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: #ed3b44;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding: 0;
  margin-bottom: 64px;
  margin-top: 32px;
}
.work-t-btn:hover {
  background-color: #e0373f;
}
.work-t-btn:focus {
  background-color: #e0373f;
}
.work-t-contacts {
  display: flex;
  gap: 4px;
}
.work-t-list-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-style: normal;
}
.work-t-list-item:hover {
  border: 1px solid rgba(250, 250, 250, 1);
}
.work-t-list-item:focus {
  border: 1px solid rgba(250, 250, 250, 1);
}
.work-t-list-item-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .work-t-allingment {
    width: 500px;
  }
  .work-t-img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 7px;
  }
  .work-t-h-two {
    font-size: 64px;
  }
  .work-t-input-email-container {
    margin: 0;
  }
  .work-t-form {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0;
  }
  .work-t-form-allingment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .work-t-input-email {
    width: 245px;
  }
  .work-t-input-textarea {
    width: 245px;
  }
  .work-t-btn {
    margin: 0;
    width: 150px;
    height: 150px;
  }
  .work-t-contacts {
    gap: 8px;
  }
  .work-t-list-item {
    padding: 18px 32px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    font-style: normal;
  }
  .work-t-list-item-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .work-t-h-two {
    font-size: 64px;
  }
  .work-t-input-email {
    width: 390px;
  }
  .work-t-input-textarea {
    width: 390px;
  }
}

/* +++++++++ modal +++++++++ */

.work-t-modal-container {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.work-t-modal-close-btn {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}

.work-t-modal-h-three {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}
.work-t-modal-message {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
@media screen and (min-width: 768px) {
  .work-t-modal-container {
    margin-left: auto;
    margin-right: auto;
    padding: 64px;
    width: 494px;
    height: 246px;
  }
  .work-t-modal-close-btn {
    width: 24px;
    height: 24px;
  }
}
.js-is-open {
  display: block;
  /* position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; */
}
.disabled {
  display: none;
}
.js-input-email {
  border-bottom: solid 1px red;
}
